
@{
    ViewBag.Title = "HW1";
}
<div style="background-color:white;color:black;padding:70px">
    <h4>姓名 : <input type="text" name="name" value="" /><br></h4>
    <h4>帳號 : <input type="text" name="account" value="" /><br></h4>
    <h4>密碼 : <input type="password" name="password" value="" /><br></h4>
    <h4>
        性別 : <input type="radio" name="women" value="A" />女性
        <input type="radio" name="man" value="B" />男性<br>
    </h4>
    <h4>
        興趣 : <input type="checkbox" name="1" value="" />打撞球
        <input type="checkbox" name="2" value="" />打排球
        <input type="checkbox" name="3" value="" />游泳<br>
    </h4>
    <h4>
        自我介紹 : <textarea name="message" rows="5" cols="30"></textarea><br />
    </h4>
</div>

