
@{
    ViewBag.Title = "Index";
}
<h1>weeeeeeeeeeeeeeeeeeeeeeee</h1>
<h2>Index</h2>

<li>aaa</li>
<li>bbb</li>

<p>@ViewBag.bruce</p>
<p>@ViewData["bruce"]</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Wikipedia-logo-v2-de.svg/250px-Wikipedia-logo-v2-de.svg.png" alt="Alternate Text" />

@for (int i = 0; i < 10 ; i++)
{
    <p>@i</p>
}